<div class="container"> 
<form  [formGroup]="eventForm" (ngSubmit)="submitForm(eventForm.value)">
    <div class="element">
    <ng-container *ngIf="!editMode" >
      <h2> Add Event</h2>
    </ng-container>
    <ng-container *ngIf="editMode" >
      <h2> Edit Event</h2>
    </ng-container>
        
        </div>
    <div class="element">
      <label  for="name">Name : </label>
        <input style="margin-left: 5%;" #name type="text"  formControlName="name"  placeholder="Input Event Name"/>
    </div>
    
    <div  class="element">
        <label  for="description">Description : </label>
          <input style="margin-left: 2.6%;" #description type="text"  formControlName="description"  placeholder="Input Event Description"/>
    </div>

    <div  class="element">
        <label  for="dateEvent">Date Event: </label>
          <input style="margin-left: 3.1%;" #dateEvent type="date"  formControlName="dateEvent" />
    </div>
  
    <div style="margin-left: 8.7%;" class="element">
        <button class="btnCanceltyle" type="button" (click)="cancel()">  Cancel </button>
        <button class="btnstyle" type="submit" >  Save </button>
       
    </div>

  </form>
</div>